.cart__list{
    padding:20px
}

td, th {
    padding:20px;
    text-align: center;
    
}

.cart__list a{
    text-decoration: none;
    color: black;
}
.remove{
    color: #ccc;
}
.remove:hover {
    cursor: pointer;
    color: black;
}
.ListCart_link a:hover{
    color: brown !important;
}
