.info {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(242 242 242);
  padding: 60px 0px;
 
}

.info span:first-child{
   letter-spacing: 3px;
}