.liveChat{
    position: absolute;
    bottom:0px;
    right:  50px;
    background-color: white;
    width: 420px;
    border-radius: 12px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box_chat{
    display: flex;
    flex-direction: column;
    padding:10px 30px;
    gap:20px;
}
.box_chat_input{
    padding:15px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    display: flex;
    gap:10px;
}
.box_chat_input button{
    border: none;
    background-color: white;
    color: rgb(204, 201, 201);
}
.box_chat_input button:last-child{
    color: #247cfd;
}
.box_chat_input input{
    border: none;
    outline: none;
}
.Chatbox {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

